.card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  height: 100%;
}

.image {
  width: 100%;
  border-radius: 8px;
}

.title {
  font-size: 1.2rem;
  margin: 12px 0 8px;
}

.price {
  color: #16a085;
  font-weight: bold;
}
.description {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 12px;
}