.wrapper {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th,
td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}



@media (max-width: 600px) {
  .table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  th {
    display: none;
  }

  td {
    padding: 0.5rem;
    position: relative;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
  }
}
